{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:new_modal.html.twig' %}

{% block form_footer_btn_group %}
    <a class="btn btn-primary"
       data-toggle="tooltip" data-placement="top" data-original-title="Plan"
       href="{{ path(campaign.getCampaignModule().getRoutes().plan_detail,{'id':campaign.id}) }}">
        <span class="fa fa-calendar"></span>
    </a>
    {{ campaign.id|campaignchain_btn_convert_campaign }}
{% endblock %}