{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@blockui_js' combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#campaign_new').on('click', function () {

                var modal = new CampaignChain.Modal();

                modal.init({
                    spinner_start: $.blockUI,
                    spinner_stop: $.unblockUI
                });

                modal.showForm('campaignchain_campaign_scheduled_new');

                $(document).on('campaignchain:form:submit:success', function (e, data) {
                    location.reload();
                });

                // TODO: when there is proper validation in the controller implemented, show error messages here
            });
        });
    </script>
{% endblock %}

{% block bodytabs %}
    {{ knp_menu_render('CampaignChainCampaignScheduledCampaignBundle:Builder:planListTab', { 'style': 'tabs' }) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 secondary-nav">
            <button class="btn btn-primary" id="campaign_new">
                <span class="fa fa-plus"></span> Create new scheduled campaign
            </button>
        </div>
    </div>
    {% include 'CampaignChainCoreBundle:Plan/Timeline/Activity:inline.html.twig' %}
{% endblock %}