{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Wizard/Install:form.html.twig' %}

{% set page_title = 'Bitly Access Token' %}

{% block description %}
<p>CampaignChain’s CTA tracking mechanism uses Bitly to shorten URLs that contain the tracking ID.</p>
<p>Please request a Bitly access token here: <a href="https://bitly.com/a/oauth_apps">https://bitly.com/a/oauth_apps</a>.</p>
{% endblock %}

{% block form %}
        <div class="symfony-form-row">
            {{ form_label(form.access_token) }}
            <div class="symfony-form-field">
                {{ form_widget(form.access_token) }}
                <div class="symfony-form-errors">
                    {{ form_errors(form.access_token) }}
                </div>
            </div>
        </div>
{% endblock %}
