{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Wizard/Install:form.html.twig' %}

{% set page_title = 'Global Secret' %}

{% block description %}
<p>Configure the global secret string for protection against <a href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">CSRF</a>.</p>
{% endblock %}

{% block form %}
        <div class="symfony-form-row">
            {{ form_label(form.secret) }}
            <div class="symfony-form-field">
                {{ form_widget(form.secret) }}
                <a href="#" onclick="generateSecret(); return false;" class="btn btn-default">
                    Generate
                </a>
                <div class="symfony-form-errors">
                    {{ form_errors(form.secret) }}
                </div>
            </div>
        </div>

    <script type="text/javascript">
        function generateSecret()
        {
            var result = '';
            for (i=0; i < 32; i++) {
                result += Math.round(Math.random()*16).toString(16);
            }
            document.getElementById('distributionbundle_secret_step_secret').value = result;
        }
    </script>
{% endblock %}