{#
This file is part of the CampaignChain package.

(c) CampaignChain Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Wizard/Install:form.html.twig' %}

{% set page_title = 'Register System Modules' %}

{% block description %}
<p>This step will register all CampaignChain system modules.</p>
<p>Please notice that this might take a minute or two.</p>
{% endblock %}
