{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block body %}

     <div class="jumbotron">
         <h1>Welcome to CampaignChain!</h1>
         <p>Manage digital marketing campaigns by integrating online communication channels into one platform.</p>
         <p><a href="http://www.campaignchain.com">www.campaignchain.com</a></p>
     </div>

 {% endblock %}
