{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Wizard/Install:base.html.twig' %}

{% set page_title = 'Login and Install Modules' %}

{% block description %}
<p>You are now done with the basic installation.</p>
<p>Please click on below button to log into CampaignChain with the user "admin" and the password you defined.</p>
<p>After that you will be automatically redirected to the module installation page.</p>
{% endblock %}

{% block body %}
<form method="GET" action="{{ path('campaignchain_core_system_module') }}">
    <button type="submit">Login & Install Modules</button>
</form>
{% endblock %}