{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{#
This file is used to override the FOSUserBundle default template
#}

{% set page_title = 'Reset password' %}

{% extends 'CampaignChainCoreBundle:Base:base_fullscreen.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@campaignchain_login_css' filter="cssrewrite"
    'bundles/campaignchaincore/css/*' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="ResetPasswordEmailSentModal" tabindex="-1" role="dialog" aria-labelledby="Reset password"
         aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/logo.png" height="24">
                <h4 class="modal-title">Reset Password</h4>
            </div>
            <div class="modal-body">
                {% block fos_user_content %}
                    <div class="alert alert-success" role="alert">An email has been sent to {{ email }}. It contains a link you must click to reset your password.</div>
                {% endblock fos_user_content %}
            </div>
            <div class="modal-footer">
                <a class="btn btn-link" href="{{ path('fos_user_security_login') }}" role="button">Back to login</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#ResetPasswordEmailSentModal').modal({
            backdrop: 'static',
            keyboard: false
        });
        $('#ResetPasswordEmailSentModal').modal('show');
    </script>
{% endblock %}