{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<script type="text/javascript">
    $('#remoteModal').on('hidden.bs.modal', function () {
        // Clean up submitted data before showing this modal.
        $(this).removeData('bs.modal');
        // Make sure we always show the actual remote content
        // and not always the same remote modal content.
        $(this).find(".modal-content").empty();
    });
</script>

<!-- Modal -->
<div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->