{#
This file is part of the CampaignChain package.

(c) CampaignChain Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a href="#" onclick="scrollToToday()" class="btn btn-default" role="button">Today</a>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-clock-o"></span> Time Scale <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% if gantt_toolbar_timescale_hours is not defined %}
                        <li role="presentation" class="dropdown-header">Hours</li>
                            <li><a href="#" onclick="zoom_tasks('week', 'full_day')">Full Day</a></li>
                            <li><a href="#" onclick="zoom_tasks('week', 'work_hours')">Office Hours</a></li>
                        <li class="divider"></li>
                    {% endif %}
                    <li role="presentation" class="dropdown-header">Days</li>
                        <li><a href="#" onclick="zoom_tasks('trplweek', 'full_week')">Full Week</a></li>
                        <li><a href="#" onclick="zoom_tasks('trplweek', 'work_week')">Work Week</a></li>
                    <li class="divider"></li>
                    <li><a href="#" onclick="zoom_tasks('year', 'year')">Months</a></li>
                    <li><a href="#" onclick="zoom_tasks('fullyear', 'fullyear')">Years</a></li>
                </ul>
            </div>
            {% block header_toolbar_btn_group %}{% endblock %}
            <div class="btn-group pull-right">
                {% if gantt_toolbar_status != 'fullscreen' %}
                    <a href="{{ path_fullscreen }}" class="btn btn-default" role="button"><span class="fa fa-arrows-alt"></span></a>
                {% endif %}
            </div>
        </div>

        {% block javascripts %}
            {% javascripts '@campaignchain_dhtmlxgantt_toolbar_absolute_dates_js' combine=true %}
            <!-- @campaignchain_dhtmlxgantt_toolbar_js --><script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
