{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% if activity|campaignchain_is_removable %}
    <a  class="btn btn-danger"
        role="button"
        data-toggle="modal" data-target="#modal-{{ activity.id }}">
        <i class="fa fa-trash"></i>
    </a>
    <div id="modal-{{ activity.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Do you really want to remove this Activity?</h4>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" role="button"# data-dismiss="modal">Abort</a>
                    <a  class="btn btn-danger"
                        role="button"
                        data-toggle="tooltip" data-placement="top" data-original-title="Remove this activity"
                        href="{{ path('campaignchain_core_activity_remove',{'id':activity.id}) }}">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% else %}
    <a  class="btn btn-danger" disabled="disabled"
        role="button"
        data-toggle="tooltip" data-placement="top" data-original-title="It's not possible to remove activities which have already started or used in reports">
        <i class="fa fa-trash"></i>
    </a>
{% endif %}