{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% if activity|campaignchain_is_removable %}
    <a  class="btn btn-default"
        role="button"
        data-toggle="modal" data-target="#modal-{{ activity.id }}">
        <i class="fa fa-trash"></i>
    </a>
    <div id="modal-{{ activity.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Do you really want to remove this Activity?</h4>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" role="button"# data-dismiss="modal">Abort</a>
                    <a  class="btn btn-danger"
                        role="button"
                        data-tooltip="true" data-placement="top" data-original-title="Remove this activity"
                        href="{{ path('campaignchain_core_activity_remove',{'id':activity.id}) }}">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% else %}
    <a  class="btn btn-default" disabled="disabled"
        role="button"
        data-tooltip="true" data-placement="top" data-original-title="It's not possible to remove activities which have already started or used in reports">
        <i class="fa fa-trash"></i>
    </a>
{% endif %}