/*
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
*/

@font-face{
    font-family:'FontAwesome';
    src:url('/bundles/bmatznerfontawesome/fonts/fontawesome-webfont.eot?v=4.0.3');
    src:url('/bundles/bmatznerfontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
    url('/bundles/bmatznerfontawesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
    url('/bundles/bmatznerfontawesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
    url('/bundles/bmatznerfontawesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight:normal;font-style:normal
}

html {
    min-height: 100%;
    position: relative;
}

/* Fix overlapping of content by Bootstrap's fixed top navbar */
body {
    padding-top: 40px;
    margin-bottom: 80px;
}

/* Sticky Footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

.footer {
    height: 50px;
    background-color: #f8f8f8;
    border-top: 1px solid #E7E7E7;
    margin-top: 30px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

@media (max-width: 767px) {
    .footer {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#campaignchain-fullscreen-body {
    padding: 15px;
}

.campaignchain-navbar {
    float: left;
    margin-right: 10px;
    margin-left: 1px;
}
.campaignchain-navbar > li {
    float: left;
}

@media (max-width: 768px) {
    .campaignchain-navbar .open .dropdown-menu {
        background-clip: padding-box;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
        float: left;
        font-size: 14px;
        left: 0;
        list-style: outside none none;
        margin: 2px 0 0;
        min-width: 160px;
        padding: 5px 0;
        position: absolute;
        text-align: left;
        top: 100%;
        z-index: 1000;
    }

    .campaignchain-navbar .open .dropdown-menu > li > a {
        clear: both;
        color: #333333 !important;
        display: block;
        font-weight: normal;
        line-height: 1.42857;
        padding: 3px 20px;
        white-space: nowrap;
    }

    .campaignchain-navbar .open .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #f5f5f5 !important;
        color: #262626 !important;
        text-decoration: none;
    }
}

ul.nav-tabs {
    margin-bottom: 30px;
}
.btn-toolbar {
    margin-bottom: 15px;
}

.breadcrumb > .active {
    font-weight: bold;
    color: #333;
}

.breadcrumb li {
    color: #777777;
}

.campaignchain-navbar-footer {
    bottom: 0;
    margin-bottom: 0;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    position: absolute;
}

.campaignchain-navbar-footer .navbar-text {
    margin-left: 0;
}

.campaignchain-footer-content {
    display: none;
}

.campaignchain-sticky-heading {
    background: #ffffff;
}

.scroll-to-fixed-fixed {
    margin-top: 0;
}

.dataTables_filter input {
    margin-left: 5px;
}

.dataTables_length select {
    margin-right: 5px;
}

#campaignchain_user_datetime {
    padding: 3px 20px;
    white-space: nowrap;
}

.campaignchain-location-image-input-prepend,
.campaignchain-icon-inline {
    height: 16px;
    width: 16px;
    margin-top: -4px;
}

.select2-container .icon,
.select2-result .icon,
.campaignchain-medium-icon .icon {
    height: 32px;
    width: 32px;
    margin-top: -4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.select2-container .context-icon,
.select2-result .context-icon,
.campaignchain-medium-icon .context-icon {
    margin-left: -14px;
    margin-bottom: -12px;
}

.campaignchain-location-image {
    height: auto;
    width: 64px;
    float:left;
    padding-right: 10px;
}

.panel-body label {
    padding-right: 5px;
}

.campaignchain-tooltip-text-left .tooltip-inner {
    text-align:left;
    white-space:pre-wrap;
}