/*
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
*/

.campaignchain-activity,
.campaignchain-milestone,
.campaignchain-activity.fc-event:hover,
.campaignchain-milestone.fc-event:hover {
    background-color: #ffffff !important;
    color: #000;
    padding-left: 20px;
    height: auto !important;
}

.campaignchain-milestone,
.campaignchain-milestone.fc-event:hover {
    background-repeat: no-repeat;
    background-position: 2px 2px;
    min-height: 22px;
}

.campaignchain-activity,
.campaignchain-activity.fc-event:hover {
    min-height: 36px;
}

.campaignchain-activity-done,
.campaignchain-milestone-done {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.campaignchain-calendar-campaign .campaignchain-teaser .icon {
    height: 24px;
    width: 24px;
    padding-left: 2px;
}

.campaignchain-calendar-campaign {
    padding: 2px;
}

.campaignchain-calendar-campaign .campaignchain-teaser {
    float: left;
}

.campaignchain-calendar-campaign .fc-content {
    padding: 2px;
    font-size: 13px;
    color: #000;
}

.campaignchain-calendar-done.fc-event {
    background-color: #cccccc !important;
    border: 1px solid #777777 !important;
}

.campaignchain-calendar-ongoing.fc-event {
    background-color: #F0AD4E !important;
    border: 1px solid #EEA236 !important;
}

.campaignchain-calendar-upcoming.fc-event {
    background-color: #5BC0DE !important;
    border: 1px solid #46B8DA !important;
}

.fc-title {
    white-space: normal;
}

.fc-event-inner .fc-event-time {
    display: block;
}

.fc-event-vert .fc-event-time {
    white-space: normal;
}

.fc-event.campaignchain-activity .campaignchain-teaser {
    float:left;
    margin-left: -18px;
    padding-top: 4px;
    padding-right: 2px;
}

.fc-time-grid-event.fc-short .fc-time, .fc-time-grid-event.fc-short .fc-title {
    display: inline;
}

.fc-time-grid-event.fc-short .fc-time:before {
    font-weight: bold;
}