/*
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
*/

.hideShowPassword-field {
    padding-right: 60px !important;
}

.hideShowPassword-toggle {
    z-index: 2;
    width: 48px !important;
}