/*
This file is part of the CampaignChain package.

(c) CampaignChain Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
*/

/*** Base styles ***/

/* Position side menu off the right side of the page */
#sidemenu {
    display: none;
    position: fixed;
    width: 300px;
    top: 0;
    right: -300px;
}

#sidemenu-drape {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

/*** Animation ***/

/* Prevent horizontal scroll bars from showing when side menu is visible */
body.sidemenu-transition {
    overflow-x: hidden;
}

/* Enable transitions */
body.sidemenu-transition #sidemenu,
body.sidemenu-transition #sidemenu-drape,
body.sidemenu-transition #main-content,
body.sidemenu-transition .footer,
body.sidemenu-transition .navbar-fixed-top {
    transition: all .5s ease-out;
}

/* Show side menu when transition is enabled, ready to be moved into the view */
body.sidemenu-transition #sidemenu,
body.sidemenu-transition #sidemenu-drape {
    display: block;
}

/* Move stuff around */


body.sidemenu-show #sidemenu {
    right: 0;
}

/* Using translate() to move body & footer, animating `right` doesn't seem to be possible */
body.sidemenu-show #main-content,
body.sidemenu-show .footer {
    -moz-transform: translate(-300px, 0px);
    -webkit-transform: translate(-300px, 0px);
    -o-transform: translate(-300px, 0px);
    -ms-transform: translate(-300px, 0px);
    transform: translate(-300px, 0px);
}
/* navbar is `position: fixed`, so `translate()` should be avoided. Transitions works here thoughy */
body.sidemenu-show .navbar-fixed-top {
    right: 300px;
    left: -300px;
}

body.sidemenu-show #sidemenu-drape {
    background-color: rgba(0, 0, 0, 0.75);
    right: 300px;
}

/*** Sidebar content ***/

#sidemenu .nav-pills > li > a {
    border-radius: 0px;
}