{#
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% if form is defined and form.vars is defined and form.vars.location is defined %}
    {% set location = form.vars.location %}
{% else %}
    {% set location = activity.getLocation() %}
{% endif %}

{% spaceless %}
    <div id="campaignchain-operation-field">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ location|campaignchain_tpl_teaser }}
            </div>
            <div class="panel-body">
{% endspaceless %}