{#
This file is part of the CampaignChain package.

(c) CampaignChain Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:new.html.twig' %}

{% block form_header %}
<div class="row">
    <div class="col-md-8">
        {% block form_header_content %}{% endblock %}
        {% endblock %}

        {% block form %}
            <form method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
                {{ bootstrap_set_style('horizontal') }}
                {{ bootstrap_set_widget_col(9) }}
                {{ bootstrap_set_label_col(3) }}
                {{ form_widget(form) }}
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            {% include 'CampaignChainCoreBundle:Base:form_footer_buttons.html.twig' %}
                        </div>
                    </div>
                </div>
            </form>
        {% endblock %}

        {% block form_footer %}
    </div>
    <div class="col-md-4">
        {% include 'CampaignChainCoreBundle:Activity:sidebar.html.twig' %}
    </div>
</div>
{% endblock %}