{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block body %}
    <style>
        .equal, .equal > div[class*='col-'] {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex:1 1 auto;
        }

        .panel {
            display: flex;
            flex-direction:column;
            align-content:stretch;
        }

        .panel-body {
            display: flex;
            flex-grow:1;
        }
    </style>
    {% for campaign_module in campaign_modules %}
        {% if loop.first or loop.index is divisible by(4) %}
            <div class="row equal">
        {% endif %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{{ campaign_module|campaignchain_tpl_teaser }}</div>
                <div class="panel-body">
                    {{ campaign_module.getDescription() }}
                </div>
                <div class="panel-footer pull-down">
                    <a href="{{ path(campaign_module.getRoutes().plan) }}" class="btn btn-primary pull-right btn-sm" role="button" data-toggle="tooltip" data-placement="top" data-original-title="Start planning"><i class="fa fa-arrow-right"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {% if loop.index is divisible by(3) %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
