{#
This file is part of the CampaignChain package.

(c) CampaignChain Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <h3>The Cockpit for Digital Marketing</h3>
            <p>Our marketing integration software provides you with a manageable overview of campaign activities in many online channels. It automates routine work so that you can focus on new lead generation opportunities.</p>
            <p><a href="http://www.campaignchain.com">www.campaignchain.com</a></p>
        </div>
    </div>
    <div class="col-md-6">
        {{ sonata_block_render({ 'type': 'campaignchain.block.rss' }, {
        'title': 'News',
        'limit': 2,
        'url': 'http://www.campaignchain.com/feed/'
        }) }}
        <h3>Newsletter</h3>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <form action="//campaignchain.us8.list-manage.com/subscribe/post?u=4e7e7de144345854a29ad254d&amp;id=83c2f1416a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" role="form" novalidate>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-at"></i></div>
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_4e7e7de144345854a29ad254d_83c2f1416a" tabindex="-1" value=""></div>
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe</button>
        </form>

        <!--End mc_embed_signup-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Get Started</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe
                    class="embed-responsive-item"
                    src="http://docs.campaignchain.com/en/master/user/get_started.html"
                    width="100%"
            ></iframe>
        </div>
    </div>
</div>
 {% endblock %}
